.swiper {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 1.125rem;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7.5rem 4.375rem;

}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;

}

.swiper-slide .title {
    font-size: 1.875rem;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 3.75rem;
}

.swiper-slide .text {
    font-size: 2.188rem;
    line-height: 1.3;
}

@media (max-width: 576px) {
    .swiper-slide {
        font-size: 12px;
    }

    .swiper-slide .title {
        font-size: 18px;
    }

    .swiper-slide .subtitle {
        font-size: 33px;
    }

    .swiper-slide .text {
        font-size: 20px;
    }

}